body{
    text-align: center;
    padding: 250px;
    background: linear-gradient(to right, #fde7f1,#3297e9);
}
input{
    border:none;
    outline: none;
    border: 3px solid #fff1e1;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
}
button{
    border:none;
    outline: none;
    padding:8px;
    margin: 8px;
    color: #fcecc9;
    font-size: 20px;
    background: #800000;
    font-family: "Castellart";
    border-radius: 10px;
}
form {
    font-family: "Book Antiqua";
    color: #a10000;
}
p{
  font-size: 25px;
    font-family: "Baskerville Old Face";
    color: #5b4b49;
}

